@use '../util/animations' as *;

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__marquee {
        position: absolute;
        overflow: hidden;
        width: auto;
        left: 0;
        writing-mode: vertical-lr;

        @media (min-width : 750px) {
            top: 0;
        }

        @media (max-width : 750px) {
            position: fixed;
            bottom: 0;
            writing-mode: horizontal-tb;
            background: rgba(255, 255, 255, 0.2);
        }

    }

    &__container {
        &__title {
            width: auto;
            margin-top: 2rem;

            &__wrapper {
                border: 5px solid white;
                padding-inline: 2rem;
                animation: riseUp 6s;
            }
        }

        &__scrollLine {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 5px;
            background: white;
            animation: riseUp 6s;
        }
    }
}