@use '../util/animations' as *;

.marquee {
    overflow: hidden;
    text-align: center;

    &__content {
        display: inline-block;
        animation: marqueeVertical 60s linear infinite;
        line-height: 1;
        white-space: nowrap;

        @media (max-width : 750px) {
            animation: marqueeHorizontal 60s linear infinite;
        }
    }
}